.BLOCK{
    display: flex;
    margin: 100px;
}

body{
    margin: 0;
}
.block1, .block2, .block3{
    margin: 10px;
}
.block1{
    width: 400px;
    height: 400px;
    background: white;
    border: 1px solid black;
}
.block2{
    width: 400px;
    height: 400px;
    background: white;
    border: 1px solid black;
}
.block3{
    width: 400px;
    height: 400px;
    background: white;
    border: 1px solid black;
}
.user1{
    display: flex;
    justify-content: center;
}
.web1{
    display: flex;
    justify-content: center;
}
.button1, .button2, .button3{
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
    margin: 50px;

}
